@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body{
    background-image: linear-gradient(to right, #898C8B, #105057);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(9, 45, 49, 0.57);
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    color: #919151;
    text-align: center;
    text-shadow: 1px 1px 2px #4d4d2b95;
}
h2{
    color: #400036;
}
p{
    text-align: justify;
}